<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MPLite.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MPLite.Core.Properties.Settings>
            <setting name="TrackDBPath" serializeAs="String">
                <value>MPLiteTrackDB.json</value>
            </setting>
            <setting name="ValidFileType" serializeAs="String">
                <value>.mp3|.wma|.wmv</value>
            </setting>
            <setting name="TaskPlaybackMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TaskPlaylist" serializeAs="String">
                <value>New Playlist</value>
            </setting>
            <setting name="PlaybackMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSelectedPlaylist" serializeAs="String">
                <value>New Playlist</value>
            </setting>
            <setting name="EventDBPath" serializeAs="String">
                <value>MPLiteEventDB.json</value>
            </setting>
            <setting name="TrackDBName" serializeAs="String">
                <value>MPLiteTrackDB.json</value>
            </setting>
            <setting name="EventDBName" serializeAs="String">
                <value>MPLiteEventDB.json</value>
            </setting>
        </MPLite.Core.Properties.Settings>
    </userSettings>
</configuration>