<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MPLite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <MPLite.Properties.Settings>
            <setting name="PlaylistInfoPath" serializeAs="String">
                <value>MPlitePlaylist.json</value>
            </setting>
            <setting name="LastSelectedPlaylist" serializeAs="String">
                <value>New Playlist</value>
            </setting>
            <setting name="ValidFileType" serializeAs="String">
                <value>.mp3|.wma|.wmv</value>
            </setting>
            <setting name="PlaybackMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TaskPlaybackMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TaskPlaylist" serializeAs="String">
                <value>New Playlist</value>
            </setting>
            <setting name="LastSelectedPlaylistIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="IsMuted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>525</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="TaskPlayingTrackIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TaskPlayingTrackStatus" serializeAs="String">
                <value>0</value>
            </setting>
        </MPLite.Properties.Settings>
    </userSettings>
</configuration>
